.container{
    padding-top: 112px;
    padding-bottom: 150px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}
*{
    background-image: url('../assets/images/dots1.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}