* {
	box-sizing: border-box;
	//font-family: 'Open Sans', 'Arial', sans-serif;	
	
}
.homecontainer{
	margin: 30px auto;
	display: flex;
	.sidenav{
		width: 23%;
		.sidebox{
			background: linear-gradient(213deg, rgb(69 7 162 / 40%) 0%, rgb(0 0 0 / 40%) 75%);
			border-radius:0.8rem;
			box-shadow: 0px 0px 7px 0px black;
			margin: 50px 0 100px;
			.sideboxtitle{
				background: url(../../assets/images/boxtitle.jpg) repeat scroll 0 0 transparent !important;
				color: #FFF ;
				border-radius: 0.8rem 0.8rem 0 0;
				h2{
					text-transform: uppercase;
					text-align: center;
				}
				h3{
					margin-left: 3%;
				}
			}
		}
	} 
}
.listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
	background-color: #ffffff;
	border-radius:0.8rem;
	box-shadow: 0px 0px 7px 0px black;
	margin-left:22px;
}
.newproducttag{
	position: absolute;
    top: 20px;
    left: 50px;
    background-color: #1266f1;
    border-radius: 10rem;
    width: 52px;
    height: 24px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.newproduct{
	height: 300px;
	width: 240px;
	margin:10px auto;
	.newproductimg{
		height:200px;
		width: 240px;
		overflow: hidden;
		background-color: #ffffff;
		img{
			width: 90%;
			height: 90%;
			background-position: center;
			background-size: cover;
			transition: transform ease 0.3s;
			
		}
		img:hover{
			transform: scale(1.4);
		}
	}
	h4{
		text-align: center;
		margin : 19px ;
		color : #ffffff;
	}
	.btnbox{
		display: flex;
		justify-content: space-around;
		button{
			width: 43%;
			height: 30px;
			border : 1px #5c89cc solid ;
			box-shadow: 0px 0px 2px 0px #2e99b5;
		}
	}
}

.product {
	width: 240px;
    position: relative;
    box-shadow: -2px 2px 19px 1px #5169b9a1;
	margin:10px auto;
	background-color: #fff;
	a {
		text-decoration: none;
	}
	&:hover {
		.info {
			height: 40px;
			&:before {
				transform: scaleY(0.7);
			}
			&:after {
				visibility: visible;
				transform: translateY(10px);
			}
		}
		.title {
			transform: translateY(-18px);
			font-weight: bold;
			color: #000;
		}
		.actions-wrapper {
			* {
				visibility: visible;
			}
		}
	}
}
.img-wrapper {
	display: block;
	width:240px;
	height: 200px;
	border: 1px solid #afafaf;
	border-bottom: 0;
	overflow: hidden;
	text-align: center;
}
.info {
	width: 100%;
	background: linear-gradient(147deg, #4507a2 0%, black 75%);
	color: #fff;
	position: relative;
	padding: 18px 10px 20px 10px;
	text-align: center;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
	backface-visibility: hidden;
	transition-property: color,height;
	transition-duration: 0.3s,0.4s;
	transition-timing-function: ease-out;
	height: 83px;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		transform: scaleY(0);
		transform-origin: 50%;
		transition: transform 0.3s ease-out;
	}
	&:after{
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		z-index: -1;
		content: '';
		border-style: solid;
		transition-duration: 0.3s;
		transition-property: transform;
		left: calc(50% - 11px);
		bottom: 0;
		border-width: 10px 10px 0 10px;
		border-color: black transparent transparent transparent;
	}
}
.title {
	transition: transform 0.3s ease-out;
	font-size: 17px;
	a {
		color: inherit;
	}
}
.price {
	background: #e32d2c;
	position: absolute;
	font-size: 1.3em;
	padding: 4px 13px;
	top: -15px;
	right: 10px;
}
.price.sale {
	background: #00ba2f;
}
.price.old {
	font-size: 0.95em;
	padding: 4px 6px;
	text-decoration: line-through;
	top: -43px;
}
.actions-wrapper {
	margin-top: 14px;
	display: flex;
	justify-content: space-around;
	visibility: hidden;
	* {
		width: 50%;
		padding: 2px 0;
		text-align: center;
		color: #191919;
		font-size: 0.95em;
		font-weight: bold;
		&:before {
			font-family: "FontAwesome";
			margin-right: 8px;
		}
	}
}
.fav {
	border-right: 1px solid #afafaf;
	&:hover {
		color: #e32d2c;
	}
	&:before {
		content: "\f08a";
	}
}
.cart {
	&:hover {
		color: #0a75b9;
	}
	&:before {
		content: "\f07a";
	}
}
.note {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 8px;
	font-size: 0.9em;
}
.note.on-sale {
	background: #00ba2f;
	color: #fff;
}
.note.no-stock {
	background: #191919;
	color: #fff;
}

.owl-theme .owl-nav{
	.owl-theme .owl-nav [class*=owl-] {
		background-color: blueviolet;
	}
} 